/vendor/
/runtime/*
!/runtime/.gitkeep
/protected/runtime/*
!/protected/runtime/.gitkeep
/assets/*
!/assets/.gitkeep
/public/assets/*
!/public/assets/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/.idea/
/.vscode/
.env
.DS_Store
/tests/_output/*
/composer.phar
.php-cs-fixer.cache